/* 폰트적용 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');



html {
    font-family: "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

/* 라이브러리 */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-middle.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.relative {
    position: relative;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear-both {
    clear: both;
}

.img-box>img {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.margin-0-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0>* {
    line-height: normal;
}

.width-30px {
    width: 30px;
}

.width-35px {
    width: 35px;
}

.width-40px {
    width: 35px;
}

.width-45px {
    width: 35px;
}

.width-50px {
    width: 50px;
}

.width-80px {
    width: 80px;
}

.width-100px {
    width: 100px;
}

.width-100p {
    width: 100%;
}

.width-60p {
    width: 60%;
}

.width-55p {
    width: 55%;
}

.width-50p {
    width: 50%;
}

.width-45p {
    width: 45%;
}

.width-40p {
    width: 40%;
}

.width-30p {
    width: 30%;
}

.width-35p {
    width: 35%;
}

.width-100p-except-30px {
    width: calc(100% - 30px);
}

.width-100p-except-35px {
    width: calc(100% - 35px);
}

.width-100p-except-40px {
    width: calc(100% - 40px);
}

.width-100p-except-50px {
    width: calc(100% - 50px);
}

.width-100p-except-80px {
    width: calc(100% - 80px);
}

.width-100p-except-100px {
    width: calc(100% - 100px);
}

.height-100p {
    height: 100%;
}

.height-50p {
    height: 50%;
}

.border-box {
    box-sizing: border-box;
}

.font-size-dot-8rem {
    font-size: .8rem;
}

.table-row {
    display: table;
}

.table-row.row::after {
    display: inline;
    clear: non;
}

.table-row>.cell {
    float: none;
    display: table-cell;
}

/* 라이브러리 - flex */
*>.flex {
    display: flex;
}

*>.flex-column-nowrap {
    display: flex;
    flex-flow: column nowrap;
}

*>.flex-grow-1 {
    flex-grow: 1;
}

*>.flex-jc-end {
    display: flex;
    justify-content: flex-end;
}

*>.flex-jc-c {
    display: flex;
    justify-content: center;
}
*>.flex-js-c {
    display: flex;
    justify-self: center;
}

*>.flex-ai-c {
    display: flex;
    align-items: center;
}
*>.flex-self-c {
    display: flex;
    align-self: center;
}

*>.flex-row-nowrap {
    flex-direction: row;
    flex-wrap: nowrap;
}

*>.flex-ch-basis-0 {
    display: flex;
}

.flex-ch-basis-0>* {
    flex-basis: 0;
}

*>.flex-1-0-0 {
    flex: 1 0 0;
}

/* 공통 css */

@media (min-width: 800px) {
    .window-md-down {
        display: none;
    }
}

@media (max-width: 799px) {
    .window-md-up {
        display: none;
    }
}

.btn-toggle-mobile-side-bar {
    position: relative;
    width: 30px;
    height: 30px;
}

.btn-toggle-mobile-side-bar>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: white;
    transition: top .15s .15s, transform .15s, opacity .15s .15s;
}

.btn-toggle-mobile-side-bar>div:nth-child(2) {
    top: 40%;
}

.btn-toggle-mobile-side-bar>div:nth-child(3) {
    top: 80%;
}

.btn-toggle-mobile-side-bar.active>div:nth-child(1) {
    transform: rotate(45deg);
}

.btn-toggle-mobile-side-bar.active>div:nth-child(3) {
    transform: rotate(-45deg);
}

.btn-toggle-mobile-side-bar.active>div:nth-child(2) {
    opacity: 0;
}

.btn-toggle-mobile-side-bar.active>div {
    top: 40%; 
    transition: top .15s, transform .15s .15s, opacity .15s;
}

/* 커스텀 */
.con-min-width {
    min-width: 1356px;
}

.con {
    max-width: 1200px;
}

/*pc 상단 바*/
.top-bar {
    height: 80px;
    background-color: rgb(255, 255, 255);
}
.top-bar .top-bar-wrap{
    height: 100%;
}

.top-bar .top-bar-wrap .logo {
    width: 80px;
    height: 80px;
    margin-left: 50px;
    background-image: url(./images/nix_blog_logo_typeA.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.top-bar .top-bar-wrap .menu-box-1>ul {
    margin-right: 50px;
}
.top-bar .top-bar-wrap .menu-box-1>ul>li {
    position: relative;
}

.top-bar .top-bar-wrap .menu-box-1 ul>li>a {
    font-weight: bold;
}

.top-bar .top-bar-wrap .menu-box-1>ul>li>a {
    color: rgb(255,161,0);
    padding: 0 20px;
}

.top-bar .top-bar-wrap .menu-box-1>ul>li:hover>a {
    color: rgb(0, 0, 0);
    background-color: rgb(255,161,0);
}

.top-bar .top-bar-wrap .menu-box-1>ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: -2px;
    width: 100%;
    background-color: white;
    border: 2px solid rgb(255,161,0);
    border-top: none;
}

.top-bar .top-bar-wrap .menu-box-1 ul>li:hover>ul {
    display: block;
}

.top-bar .top-bar-wrap .menu-box-1 ul ul>li {
    height: 60px;
}

.top-bar .top-bar-wrap .menu-box-1 ul ul>li:hover {
    background-color: rgb(255,161,0);
}

.top-bar .top-bar-wrap .menu-box-1 ul ul>li>a {
    color: black;
    font-size: 0.8rem;
}

.top-bar .top-bar-wrap .menu-box-1 ul ul>li:hover>a {
    color: white;
}

/*모바일 탑 바*/
.mobile-top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
}
.mobile-top-bar > .btn-toggle-mobile-side-bar {
    margin: 0 10px;
}
@media (max-width: 799px) {
    body {
        padding-top: 50px;
    }
}
.mobile-top-bar > .btn-toggle-mobile-side-bar > div {
    background-color: rgb(255,161,0);
}
.mobile-top-bar > .title {
    font-family: "Anton", "Noto Sans KR", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(255,161,0);
    font-size: 2rem;
    white-space: nowrap;
}
.mobile-top-bar > .title > * {
    font-family: "Noto Sans KR", sans-serif;
}

/*모바일 사이드 바*/
.mobile-side-bar {
    font-family: "Anton", "Noto Sans KR", sans-serif;
    position: fixed;
    width: 300px;
    bottom: 0;
    top: 50px;
    left: -300px;
    transition: left .3s;
    background-color: rgb(255,161,0);
    z-index: 3;
}
.mobile-side-bar.active{
    left: 0;
}
/*모바일 사이드 바 로고*/
.mobile-side-bar .logo-box > a {  
    display: block;
    height: 100px;
    line-height: 100px;    
    font-size:48px;
    padding-left: 18px;
    white-space: nowrap;
    color: white;
    border-bottom: 4px solid white;
    box-sizing: border-box;
}
.mobile-side-bar .logo-box > div.logo-border {
    height: 8px;
    border-bottom: 4px solid white;
    box-sizing: border-box;
}



/*본문 스크롤 없애기*/
@media (max-width: 799px) {
    html.active body {
        overflow-y: hidden;
    }
}

/*모바일 사이드 바 메뉴*/
.mobile-side-bar .menu-box-1 ul > li  {
    position: relative;
}
/*모바일 사이드 바 매인 메뉴*/
.mobile-side-bar .menu-box-1 > ul > li > a {
    position: relative;
    display: block;
    padding: 0 20px;
    height: 59px;
    line-height: 59px;
    font-size: 24px;
    border-bottom: 4px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    box-sizing: border-box;
}

/*모바일 사이드 바 하위목록 아이콘 */
.mobile-side-bar .menu-box-1 ul > li > a > i {
    float: right;
    padding-right: 10px;
}
.mobile-side-bar .menu-box-1 > ul > li > a > i {
    line-height: 59px;
}
.mobile-side-bar .menu-box-1 ul ul > li > a > i {
    line-height: 49px;
}
.mobile-side-bar .menu-box-1 ul > li > a > i:first-of-type {
    display: block;
}
.mobile-side-bar .menu-box-1 ul > li > a > i:last-of-type {
    display: none;
}
.mobile-side-bar .menu-box-1 ul > li.active > a > i:first-of-type {
    display: none;
}
.mobile-side-bar .menu-box-1 ul > li.active > a > i:last-of-type {
    display: block;
}

/*모바일 사이드 바 하위메뉴*/
.mobile-side-bar .menu-box-1 ul ul {
    display: none;
}
.mobile-side-bar .menu-box-1 > ul > li > ul {
    border-bottom: 4px solid rgb(255, 255, 255);
}

.mobile-side-bar .menu-box-1 ul > li.active > ul {
    display: block;
}
.mobile-side-bar .menu-box-1 ul ul > li > a {
    display: block;
    height: 49px;
    line-height: 49px;
    font-size: 18px;
    padding: 0 20px;
    padding-left: 40px;
    white-space: nowrap;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-bottom: 4px solid rgb(255,161,0);
    box-sizing: border-box;
}
.mobile-side-bar .menu-box-1 ul ul ul> li > a {
    padding-left: 60px;
}

/*모바일 사이드 바 배경*/
.mobile-side-bar-bg {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background-color .3s;
    background-color: rgba(0,0,0,0);
    visibility: hidden;
    z-index: 3;
}

.mobile-side-bar-bg.active {
    visibility: visible;
    background-color: rgba(0,0,0,0.8);
}

/*상단 배너 박스*/
.top-bn-slider {
    position: relative;
    height: 500px;
    user-select: none;
}
.top-bn-slider .slides > div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .3s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}
.top-bn-slider .slides > div.active{
    opacity: 1;
}

.top-bn-slider .slides > div > a {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8rem;
    padding: 8px 100px 8px 20px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
}
.top-bn-slider .slides > div > a > i{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}


.top-bn-slider .side-bar > div {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(40% - 100px);
    height: 100%;
    cursor: pointer;
}
.top-bn-slider .side-bar > div:last-child {
    left: auto;
    right: 0;
}

.top-bn-slider .side-bar > div > span {
    position: absolute;
    top: 50%;
    left: 0;
    padding: 0 20px;
    font-size: 3rem;
    transform: translateY(-50%);
    transition: transform .3s;
}
.top-bn-slider .side-bar > div:last-child > span {
    left: auto;
    right: 0;
 }
.top-bn-slider .side-bar > div:active > span {
    transform: translateY(-40%);
}
.top-bn-slider .side-bar > div > span > i {
    color: white;
}
/*상단 슬라이드 이미지*/


/*하단 프로필*/
.profile-bar {
    margin-top: 100px;
    
}
.profile-bar .profile-box {
    height: 100px;
}
.profile-bar .profile-box .avatar {
    width: 128px;
    height: 128px;
    border-radius: 100%;
    background-image: url(./images/avatar.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.profile-bar .profile-box .profile {
    align-self: center;
    margin-left: 16px;
}
.profile-bar .profile-box .profile > div.name {
    font-size: 24px;
    font-weight: bold;
}
.profile-bar .profile-box .profile > div.description {
    font-size: 18px;
}
.profile-bar .profile-bar-bottom-line {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 1px;
    background-color: rgb(0, 0, 0);
}


@media (max-width: 800px) {
    .top-bn-slider {
        height: 300px;
    }
}
section.content {
    margin-top: 50px;
}