/* 폰트적용 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');



html {
    font-family: "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

/* 라이브러리 */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-middle.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.relative {
    position: relative;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear-both {
    clear: both;
}

.img-box>img {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.margin-0-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0>* {
    line-height: normal;
}

.width-30px {
    width: 30px;
}

.width-35px {
    width: 35px;
}

.width-40px {
    width: 35px;
}

.width-45px {
    width: 35px;
}

.width-50px {
    width: 50px;
}

.width-80px {
    width: 80px;
}

.width-100px {
    width: 100px;
}

.width-100p {
    width: 100%;
}

.width-60p {
    width: 60%;
}

.width-55p {
    width: 55%;
}

.width-50p {
    width: 50%;
}

.width-45p {
    width: 45%;
}

.width-40p {
    width: 40%;
}

.width-30p {
    width: 30%;
}

.width-35p {
    width: 35%;
}

.width-100p-except-30px {
    width: calc(100% - 30px);
}

.width-100p-except-35px {
    width: calc(100% - 35px);
}

.width-100p-except-40px {
    width: calc(100% - 40px);
}

.width-100p-except-50px {
    width: calc(100% - 50px);
}

.width-100p-except-80px {
    width: calc(100% - 80px);
}

.width-100p-except-100px {
    width: calc(100% - 100px);
}

.height-100p {
    height: 100%;
}

.height-50p {
    height: 50%;
}

.border-box {
    box-sizing: border-box;
}

.font-size-dot-8rem {
    font-size: .8rem;
}

.table-row {
    display: table;
}

.table-row.row::after {
    display: inline;
    clear: non;
}

.table-row>.cell {
    float: none;
    display: table-cell;
}

/* 라이브러리 - flex */
*>.flex {
    display: flex;
}

*>.flex-column-nowrap {
    display: flex;
    flex-flow: column nowrap;
}

*>.flex-grow-1 {
    flex-grow: 1;
}
*>.flex-jc-st {
    display: flex;
    justify-content: flex-start;
}

*>.flex-jc-end {
    display: flex;
    justify-content: flex-end;
}

*>.flex-jc-c {
    display: flex;
    justify-content: center;
}

*>.flex-ai-c {
    display: flex;
    align-items: center;
}
*>.flex-self-c {
    display: flex;
    align-self: center;
}

*>.flex-row-nowrap {
    flex-direction: row;
    flex-wrap: nowrap;
}

*>.flex-ch-basis-0 {
    display: flex;
}

.flex-ch-basis-0>* {
    flex-basis: 0;
}

*>.flex-1-0-0 {
    flex: 1 0 0;
}
.flex-wrap {
    flex-wrap: wrap;
}

/* 공통 css */
/* 토스트 UI 시작*/
.ratio-16-9::after {
    content:"";
    display:block;
    padding-top:56.25%;
}
  
.ratio-1-1::after {
    content:"";
    display:block;
    padding-top:100%;
}
.abs-full {
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
/* 토스트 UI 끝*/
@media (min-width: 800px) {
    .window-md-down {
        display: none;
    }
}

@media (max-width: 799px) {
    .window-md-up {
        display: none;
    }
    
}
.btn-toggle-mobile-side-bar {
    position: relative;
    width: 30px;
    height: 30px;
}

.btn-toggle-mobile-side-bar>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: white;
    transition: top .15s .15s, transform .15s, opacity .15s .15s;
}

.btn-toggle-mobile-side-bar>div:nth-child(2) {
    top: 40%;
}

.btn-toggle-mobile-side-bar>div:nth-child(3) {
    top: 80%;
}

.btn-toggle-mobile-side-bar.active>div:nth-child(1) {
    transform: rotate(45deg);
}

.btn-toggle-mobile-side-bar.active>div:nth-child(3) {
    transform: rotate(-45deg);
}

.btn-toggle-mobile-side-bar.active>div:nth-child(2) {
    opacity: 0;
}

.btn-toggle-mobile-side-bar.active>div {
    top: 40%; 
    transition: top .15s, transform .15s .15s, opacity .15s;
}

/* 커스텀 */
body {
    overflow-x: hidden;
    color: #353535;
}
.con-min-width {
    min-width: 1356px;
}

.con {
    max-width: 1200px;
}
@media (max-width: 799px) {
    body {
        padding-top: 50px;
    }
    .con {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (min-width: 800px) {
    body {
        padding-top: 80px;
    }
}
@media (max-width: 1200px) and (min-width: 800px) {
    .con {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.cutton {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: visible;
    z-index: 100;
}
.cutton.active {
    visibility: hidden;
    transition: visibility 0s 1s;
}
.cutton >div {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: rgb(255,161,0);
    transition: left 1s, right 1s;
    z-index: 100;
}
.cutton >div:first-child {
    left: 0;
}
.cutton.active >div:first-child {
    left: -50%;
}
.cutton >div:last-child {
    right: 0;
}
.cutton.active >div:last-child {
    right: -50%;
}

canvas {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: rgb(255,161,0);
    z-index: -1;
}
.wave-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(255,161,0);
    z-index: -1;
}
@media (max-width: 799px) {
    canvas {
        display: none;
    }
    .wave-top {
        display: none;
    }
}

/*pc 상단 바*/
.top-bar {
    font-family: "Anton", "Noto Sans KR", sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 10;
    background-color: rgb(255,161,0);
}
.top-bar .top-bar-wrap{
    height: 100%;
}

.top-bar .top-bar-wrap .logo {
    align-self: center;
    width: 70px;
    height: 70px;
    flex-shrink: 0;
}

.top-bar .top-bar-wrap .menu-box-1 .menu-box-wrap {
    position: relative;
    margin-right: 30px;
}
.top-bar .top-bar-wrap .menu-box-1 .menu-box-wrap > ul {
    position: relative;
}
.top-bar .top-bar-wrap .menu-box-1 .menu-box-wrap > span {
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 8px;
    transform: translateY(-100%);
    transition: left .3s, width .3s;
    background-color: rgb(255,255,255);
}
.top-bar .top-bar-wrap .menu-box-1 .menu-box-wrap >ul>li {
    position: relative;
}

.top-bar .top-bar-wrap .menu-box-1 .menu-box-wrap >ul>li>a {
    letter-spacing: 1px;
    font-size: 1.2rem;
    padding: 0 20px;
    white-space: nowrap;
    color: rgb(255,255,255);
    box-sizing: border-box;
}
.top-bar .sns-bar > a {
    padding: 0 10px;
    font-size: 18px;
    color: rgb(255,255,255);
}
.top-bar .sns-bar > a:last-child > div{
    width: 20px;
    height: 20px;
}

/*모바일 탑 바*/
.mobile-top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    flex-direction: row-reverse;
    z-index: 100;
}
.mobile-top-bar > .btn-toggle-mobile-side-bar {
    margin: 0 10px;
}

.mobile-top-bar > .btn-toggle-mobile-side-bar > div {
    background-color: rgb(255,161,0);
}
.mobile-top-bar > .title {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
}

/*
/*모바일 사이드 바*/
.mobile-side-bar {
    font-family: "Anton", "Noto Sans KR", sans-serif;
    position: fixed;
    text-align: center;
    top: -100%;
    left: 0;
    width: 100%;
    height: 80%;
    transition: top .3s;
    background-color: rgb(255,161,0);
    z-index: 100;
}
.mobile-side-bar.active{
    top: 0;
}
.mobile-side-bar .btn-toggle-mobile-side-bar{
    position: absolute;
    top: 20px;
    right: 10px;
}
/*모바일 사이드 바 로고*/
.mobile-side-bar .logo-box > a {  
    display: inline-block;
    height: 90px;
    line-height: 90px;    
    font-size:48px;
    color: white;
    white-space: nowrap;
}

/*본문 스크롤 없애기*/
@media (max-width: 799px) {
    html.active body {
        overflow-y: hidden;
    }
}

/*모바일 사이드 바 메뉴*/
.mobile-side-bar .menu-box-1 ul > li  {
    position: relative;
}
/*모바일 사이드 바 매인 메뉴*/
.mobile-side-bar .menu-box-1 > ul > li > a {
    position: relative;
    display: inline-block;
    height: 59px;
    line-height: 59px;
    font-size: 24px;
    color: rgb(255, 255, 255);
}

.mobile-side-bar .moblie-side-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(90%);
}

/*모바일 사이드 바 하단 sns버튼*/
.mobile-side-bar .sns-bar {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.mobile-side-bar .sns-bar > a {
    position: relative;
    font-size: 2rem;
    color: white;
    width: 50px;
    height: 50px;
}
.mobile-side-bar .sns-bar > a > svg{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
 }


/*모바일 사이드 바 배경*/
.mobile-side-bar-bg {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background-color .3s;
    background-color: rgba(0,0,0,0);
    visibility: hidden;
    z-index: 3;
}
.mobile-side-bar-bg.active {
    visibility: visible;
    background-color: rgba(0,0,0,0.8);
}



/*프로필*/
.profile-bar {
    margin-top: 100px;
}
.profile-bar .profile-box {
    height: 128px;
}
.profile-bar .profile-box .avatar {
    width: 128px;
    height: 128px;
    border-radius: 100%;
    background-image: url(https://nixpluvia.github.io/img1/blog/site/avatar.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.profile-bar .profile-box .profile {
    align-self: center;
    margin-left: 16px;
}
.profile-bar .profile-box .profile > div.name {
    font-size: 24px;
    font-weight: bold;
}
.profile-bar .profile-box .profile > div.description {
    font-size: 18px;
}
.profile-bar .profile-bar-bottom-line {
    margin-top: 10px;
    height: 1px;
    background-color: rgb(255,161,0);
}
.profile-bar > .sns-bar {
    margin-top: 15px;
}
.profile-bar > .sns-bar > a {
    padding: 0 10px;
    font-size: 40px;
    color: rgb(255,161,0);
}
.profile-bar > .sns-bar > a:first-child {
    padding-left: 0;
}
.profile-bar > .sns-bar > a:last-child > div{
    width: 40px;
}

@media (max-width: 799px) {
    .profile-bar .profile-box {
        height: 100px;
    }
    .profile-bar .profile-box .avatar {
        width: 100px;
        height: 100px;
    }
}






.top-bar .top-bar-wrap >a.logo:hover > svg .st1  {
    fill: #00cbff;
}