.detail-wrap {
    margin-top: 80px;
    background-color: rgb(255,255,255);
}
.detail-wrap .detail-title {
    padding-top: 60px;
    font-size: 48px;
    font-weight: bold;
}
.detail-wrap .detail-info > div {
    color: #c4c4c4;
    font-size: 12px;
    padding-top: 15px;
}
.detail-wrap .detail-info > div:not(:first-child){
    padding-left: 20px;
}
.detail-wrap .article-tag-bar{
    margin-top: 15px;
}
.detail-wrap .article-tag-bar > div{
    padding: 0 20px;
    height: 35px;
    border-radius: 17.5px;
    letter-spacing: 1px;
    font-weight: bold;
    background-color: rgb(255,161,0);
}
.detail-wrap .btn-list-move {
    margin-top: 100px;
}

.detail-wrap .btn-list-move > div > i{
    font-size: 40px;
    color: rgb(255,161,0);
}