/*폰트*/

/* notosanskr 폰트*/
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
/* Fredericka 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
/* Nothing You Could Do 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
/* roboto 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* 쿠키런 regular 폰트 */
@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
textarea {
    font-family: inherit;
    margin: 0;
    padding: 0;
    list-style: none;
    font: inherit;
    border: none;
    background: none;
    color: inherit;
}

a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

button {
    font-family: inherit;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    outline-style: none;
    cursor: pointer;
}

*:focus {
    outline: none;
}

/* 라이브러리 */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.visi-hidden {
    visibility: hidden;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-middle.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.relative {
    position: relative;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear-both {
    clear: both;
}

.img-box>img {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.margin-0-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0>* {
    line-height: normal;
}

.height-100p {
    height: 100%;
}

.height-50p {
    height: 50%;
}

.border-box {
    box-sizing: border-box;
}

.font-size-dot-8rem {
    font-size: .8rem;
}

.table-row {
    display: table;
}

.table-row.row::after {
    display: inline;
    clear: non;
}

.table-row>.cell {
    float: none;
    display: table-cell;
}

/* 라이브러리 - flex */
*>.flex {
    display: flex;
}

*>.flex-column {
    display: flex;
    flex-direction: column;
}

*>.flex-column-nowrap {
    display: flex;
    flex-flow: column nowrap;
}

*>.flex-grow-1 {
    flex-grow: 1;
}

*>.flex-jc-st {
    display: flex;
    justify-content: flex-start;
}

*>.flex-jc-end {
    display: flex;
    justify-content: flex-end;
}

*>.flex-jc-c {
    display: flex;
    justify-content: center;
}

*>.flex-jc-between {
    display: flex;
    justify-content: space-between;
}

*>.flex-ai-c {
    display: flex;
    align-items: center;
}

*>.flex-ai-st {
    display: flex;
    align-items: flex-start;
}

*>.flex-ai-end {
    display: flex;
    align-items: flex-end;
}

*>.flex-self-c {
    display: flex;
    align-self: center;
}

*>.flex-row-nowrap {
    flex-direction: row;
    flex-wrap: nowrap;
}

*>.flex-ch-basis-0 {
    display: flex;
}

.flex-ch-basis-0>* {
    flex-basis: 0;
}

*>.flex-1-0-0 {
    flex: 1 0 0;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* 라이브러리 폰트 */
.font-noto {
    font-family: 'Noto Sans KR', sans-serif;
}

.font-NUCD {
    font-family: 'Nothing You Could Do', sans-serif;
}

.font-cookie {
    font-family: 'CookieRun-Regular', sans-serif;
}

.font-Fredericka {
    font-family: 'Fredericka the Great', sans-serif;
}

/* custom */


.con {
    max-width: 1500px;
}



/* 모눈종이 배경 */
html {
    overflow-x: hidden;
    font-size: 10px;
}

body {
    background: url("https://nixpluvia.github.io/img1/pf/portfolio/tile2.png"), url("https://nixpluvia.github.io/img1/pf/portfolio/tile.png");
    overflow-X: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* 퍼즐 배경 이미지 */
body::before {
    content: "";
    position: absolute;
    top: 31%;
    right: 0;
    width: 217px;
    height: 663px;
    background-image: url("https://nixpluvia.github.io/img1/pf/portfolio/puzzle_bg_1.svg");
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}

body::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 5%;
    width: 300px;
    height: 250px;
    background-image: url("https://nixpluvia.github.io/img1/pf/portfolio/puzzle_bg_3.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}

/* 스크롤 바 제거 */
body::-webkit-scrollbar {
    display: none;
    width: 0;
}

/* svg 색상 */
.frame,
.quotes,
.icon-scroll-path {
    fill: #2D2924;
}

/* 폰트 사이즈 */
.fs-title1 {
    font-size: calc(4.5rem + 2vw);
    line-height: calc(4.5rem + 2vw);
}
.fs-title2 {
    font-size: calc(4rem + 2vw);
    line-height: calc(4rem + 2vw);
}
.fs-subtitle1 {
    font-size: calc(2.3rem + 0.364vw);
    line-height: calc(2.3rem + 0.364vw);
}
.fs-subtitle2 {
    font-size: calc(3rem + 0.364vw);
    line-height: calc(3rem + 0.364vw);
}
.fs-txthead {
    font-size: calc(1.8rem + 0.15625vw);
    line-height: calc(1.8rem + 0.15625vw);
}
.fs-txtbody {
    font-size: calc(1.5rem + 0.15625vw);
    line-height: calc(1.5rem + 0.15625vw);
}
.fs-txt1 {
    font-size: calc(1.3rem + 0.15625vw);
    line-height: calc(1.3rem + 0.15625vw);
}
.fs-txt2 {
    font-size: 1.4rem;
    line-height: 1.4rem;
}



/* 상단 바 */
.top-bar {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 100;
}
.top-bar > div{
    box-sizing: border-box;
}

/* 사이드 바 */
.side-bar {
    position: fixed;
    top: 0;
    left: calc(-30vw + 72px);
    width: 30vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: #2D2924;
    box-shadow: 5px 0 10px #A0A0A0;
    z-index: 100;
}

.side-bar.open-ani {
    animation-name: open-ani;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

.side-bar.close-ani {
    animation-name: close-ani;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

@keyframes open-ani {
    0% {
        left: calc(-30vw + 72px);
    }

    100% {
        left: 0;
    }
}

@keyframes close-ani {
    0% {
        left: 0;
    }

    100% {
        left: calc(-30vw + 72px);
    }
}


/* 사이드 바 - 버튼 */
.side-bar .btn-side-bar {
    position: absolute;
    top: calc(50% - 20px);
    right: 11px;
    width: 50px;
    height: 40px;
}

.side-bar .btn-side-bar>div {
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: #fff;
}

.side-bar .btn-side-bar>div:nth-child(1) {
    top: 0;
    left: 0;
}

.side-bar .btn-side-bar>div:nth-child(2) {
    top: calc(50% - 4px);
    left: 0;
}

.side-bar .btn-side-bar>div:nth-child(3) {
    bottom: 0;
    left: 0;
}


/* 사이드 바 - 메뉴 */
.side-bar .side-bar-menu {
    margin-top: 10vh;
    margin-left: 10vh;
    visibility: hidden;
}

.side-bar.active .side-bar-menu {
    visibility: visible;
}

.side-bar .side-bar-menu>ul>li+li {
    margin-top: 20px;
}

.side-bar .side-bar-menu>ul>li {
    font-size: 3.2rem;
    line-height: 3.2rem;
    color: #ffffff;
}


/* pagenation */
.pagenation {
    position: fixed;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    z-index: 100;
}

.pagenation>ul>li {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #2D2924;
}

.pagenation>ul>li>button {
    width: 100%;
    height: 100%;
}

.pagenation>ul>li+li {
    margin-top: 13px;
}

.pagenation>ul>li.active {
    background: #FFB000;
}



/* section */

section {
    box-sizing: border-box;
}



/* intro */
.intro {
    position: relative;
    width: 100vw;
    height: 100vh;
    align-items: flex-end;
}

/* intro 타이틀 */
.intro .title {
    position: relative;
    margin-bottom: 35vh;
    align-items: flex-start;
}

.intro .title>.section-title {
    width: 0;
    height: 0;
    overflow: hidden;
}

.intro .title>div {
    position: relative;
}

.intro .title>div+div {
    margin-top: 10px;
}

/* intro 타이틀 폰트 */
.intro .title>.ti1>span {
    display: inline-block;
    font-weight: normal;
    color: #FFB000;
    opacity: 0;
}

.intro .title>.font-Fredericka>span {
    display: inline-block;
    font-weight: normal;
    opacity: 0;
}



.intro .title>div.active>span {
    animation-name: element-opacity;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
}

/* 타이틀 라인 애니메이션 */
.intro .title>div>i {
    position: absolute;
    background-color: #2D2924;
}

/* 왼쪽 라인 */
.intro .title>div.active>i.line1 {
    left: 0;
    width: 1px;
    animation-name: line-left-top;
    animation-duration: 1s;
}

/* 오른쪽 라인 */
.intro .title>div.active>i.line2 {
    right: 0;
    width: 1px;
    animation-name: line-right-btm;
    animation-duration: 1s;
    animation-delay: 0.22s;
}

/* 탑 라인 */
.intro .title>div.active>i.line3 {
    top: 0;
    height: 1px;
    animation-name: line-top-left;
    animation-duration: 1s;
    animation-delay: 0.1s;
}

/* 바텀 라인 */
.intro .title>div.active>i.line4 {
    bottom: 0;
    height: 1px;
    animation-name: line-btm-right;
    animation-duration: 1s;
    animation-delay: 0.18s;
}

@keyframes element-opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes line-left-top {
    0% {
        top: -50%;
        bottom: auto;
        height: 0%;
        opacity: 0;
    }

    49% {
        top: -50%;
        bottom: auto;
        height: 150%;
        opacity: 0.4;
    }

    50% {
        top: auto;
        height: 150%;
        bottom: 0;
        opacity: 0.4;
    }

    100% {
        top: auto;
        height: 0;
        bottom: 0;
        opacity: 0;
    }
}

@keyframes line-right-btm {
    0% {
        top: auto;
        bottom: -80%;
        height: 0%;
        opacity: 0;
    }

    49% {
        top: auto;
        bottom: -80%;
        height: 200%;
        opacity: 0.4;
    }

    50% {
        top: -20%;
        bottom: auto;
        height: 200%;
        opacity: 0.4;
    }

    100% {
        top: -20%;
        bottom: auto;
        height: 0;
        opacity: 0;
    }
}

@keyframes line-top-left {
    0% {
        right: auto;
        left: -20%;
        width: 0%;
        opacity: 0;
    }

    49% {
        right: auto;
        left: -20%;
        width: 130%;
        opacity: 0.4;
    }

    50% {
        right: -10%;
        left: auto;
        width: 130%;
        opacity: 0.4;
    }

    100% {
        right: -10%;
        left: auto;
        width: 0;
        opacity: 0;
    }
}

@keyframes line-btm-right {
    0% {
        right: -15%;
        left: auto;
        width: 0%;
        opacity: 0;
    }

    49% {
        right: -15%;
        left: auto;
        width: 125%;
        opacity: 0.4;
    }

    50% {
        right: auto;
        left: -10%;
        width: 125%;
        opacity: 0.4;
    }

    100% {
        right: auto;
        left: -10%;
        width: 0;
        opacity: 0;
    }
}

.intro>.title>.title-paint-line {
    position: absolute;
    bottom: -30px;
    width: 0;
    overflow: hidden;
    animation: title-line 1s 2.5s forwards;
}

@keyframes title-line {
    0% {
        width: 0%;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        width: 105%;
    }
}




/* 인트로 퍼즐 이미지 */
.intro>.intro-img {
    position: relative;
    margin-left: 18vw;
    margin-bottom: 33vh;
}

/* 퍼즐 사이즈 */
.intro>.intro-img>.puzzle-line-img,
.intro>.intro-img>.puzzle-line,
.intro>.intro-img>.main-puzzle,
.intro>.intro-img>.white-bg-img
{
    max-width: 300px;
    width: 15.625vw;
}
/* 퍼즐 라인 */
.intro>.intro-img>.puzzle-line-img,
.intro>.intro-img>.puzzle-line {
    position: absolute;
    top: 0;
    left: 0;
}

.intro>.intro-img>.puzzle-line {
    z-index: 1;
}

.intro>.intro-img>.puzzle-line>svg>path.puzzle-line {
    fill: none;
    stroke: #ffffff;
    stroke-miterlimit: 10;
    stroke-dasharray: 1363.472900390625;
    stroke-width: 30px;
    animation: path-ani 4s ease-in-out forwards;
}

@keyframes path-ani {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 1363.472900390625;
    }
}

/* 메인 퍼즐 이미지 */
.intro>.intro-img>.main-puzzle {
    position: absolute;
    top: -10%;
    left: -10%;
    opacity: 0;
    z-index: 10;
    animation: main-puzzle 1s 4s ease-in-out forwards;
}

.intro>.intro-img>.main-puzzle .puzzle-main {
    fill: #2d2924;
}

@keyframes main-puzzle {
    0% {
        top: -50%;
        opacity: 0;
    }

    100% {
        top: -10%;
        opacity: 1;
    }
}

/* intro 섹션 - 스크롤 아이콘 */
.intro>.icon-scroll {
    position: absolute;
    left: calc(50% - 15px);
    opacity: 0;
    transition: opacity 1s;
}

.intro>.icon-scroll.active {
    opacity: 1;
    animation: scroll-icon-ani 1s infinite alternate-reverse;
}

@keyframes scroll-icon-ani {
    0% {
        bottom: 45px;
    }

    100% {
        bottom: 35px;
    }
}

.intro>.icon-scroll>svg {
    width: 30px;
}




/* 섹션 타이틀 */
.section-page>h2 {
    font-weight: normal;
    text-align: center;
}

.section-page>h2>span {
    position: relative;
    display: inline-block;
}


/* 어바웃 페이지 */
.about {
    padding-top: 10.4167vw;
}

/* 어바웃 페이지 - 타이틀 라인*/

.about>h2>span::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: calc(100% + 60px);
    width: 100vw;
    height: 10px;
    background-color: #FFB000;
}

/* 어바웃 페이지 - 컨텐츠 박스 */
.about>.content-box {
    margin-top: 140px;
    flex-wrap: wrap;
    justify-content: center;
}
.about>.content-box>div{
    margin-bottom: 5vw;
}
/* 어바웃 페이지 - 사진 */
.about>.content-box>.photo {
    position: relative;
    width: 397px;
    flex-shrink: 0;
    background-color: #2D2924;
    box-sizing: border-box;
}
.about>.content-box>.photo::before{
    content:"";
    display: block;
    padding-bottom: 170.02518891687657%;
}
.about>.content-box>.photo>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: calc(7px + 0.001171875vw);
    box-sizing: border-box;
}

/* 어바웃 페이지 - 컨텐츠 */
.about>.content-box>.content {
    padding-left: 9.375vw;
    box-sizing: border-box;
}

/* 어바웃 페이지 - 탭 박스 head */
.about>.content-box>.content>.head>button>h2 {
    font-weight: 500;
}

.about>.content-box>.content>.head>button.active {
    color: #FFB000;
}

.about>.content-box>.content>.head>button+button {
    margin-left: 50px;
}

/* 어바웃 페이지 - 탭 박스 body */
.about>.content-box>.content>.body {
    margin-top: 45px;
}

.about>.content-box>.content>.body>.tab-box {
    display: none;
}

.about>.content-box>.content>.body>.tab-box.active {
    display: block;
    animation-name: element-opacity;
    animation-duration: 1s;
}

/* 어바웃 페이지 - profile 탭 */
.about .body>.profile-tab>h3 {
    margin-bottom: 60px;
    font-weight: normal;
    white-space: nowrap;
}

.about .body>.profile-tab>ul>li>h4 span {
    display: inline-block;
}

.about .body>.profile-tab>ul>li+li {
    margin-top: 30px;
}

.about .body>.profile-tab>ul>li>h4>.txt-head,
.about .body>.profile-tab>ul>li>.ty2>.txt-body>span:first-child {
    width: 170px;
}

.about .body>.profile-tab>ul>li>h4>.txt-head {
    font-weight: 700;
}

.about .body>.profile-tab>ul>li>h4>.txt-body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}

.about .body>.profile-tab>ul>li>.ty2>.txt-body {
    margin-top: 30px;
}

.about .body>.profile-tab>ul>li>.ty2>.txt-body>span {
    line-height: normal;
}

/* 어바웃 페이지 - skill 탭 */
.about .body>.skill-tab>.skills-box {
    flex-wrap: wrap;
    width: 75%;
}

.about .body>.skill-tab>.skills-box>.skill {
    width: 44%;
    margin-bottom: 50px;
}

.about .body>.skill-tab>.skills-box>.skill>div+div {
    margin-top: 10px;
}

.about .body>.skill-tab>.skills-box>.skill>.skill-name {
    font-weight: 500;
    letter-spacing: -1px;
}

.about .body>.skill-tab>.skills-box>.skill>.txt {
    font-weight: 400;
    letter-spacing: -1px;
}

.about .body>.skill-tab>.skills-box>.skill>.skill-name>.info-num::after {
    content: "%";
    display: inline-block;
}

.about .body>.skill-tab>.skills-box>.skill>.progress-bar {
    position: relative;
    width: 100%;
    height: 4px;
    background-color: #C1C1C1;
}

.about .body>.skill-tab>.skills-box>.skill>.progress-bar::before {
    content: "";
    position: absolute;
    left: 0;
    top: -3px;
    width: 10px;
    height: 10px;
    border-radius: 50% 50%;
    background-color: #2D2924;
}

.about .body>.skill-tab>.skills-box>.skill>.progress-bar>.bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #2D2924;
}

.about .body .skill-tab>.other-skills>h3 {
    margin-bottom: 20px;
    font-weight: 500;
    letter-spacing: -1px;
}

.about .body .skill-tab>.other-skills>.wrap>.skill-icon {
    margin-right: 10px;
    width: 70px;
}

.about .body .skill-tab>.other-skills>.wrap>.skill-icon>svg .icon-1 {
    fill: #ffffff;
}


/* 포트폴리오 섹션 */
.portfolio {
    padding-top: 10.4167vw;
}

/* 포트폴리오 섹션 - title line */
.portfolio>h2>span::before {
    content: "";
    position: absolute;
    top: 0;
    left: -70px;
    width: 30px;
    height: 100%;
    background-color: #FFB000;
}

/* 포트폴리오 섹션 - 컨텐츠*/
.portfolio>.content-box {
    margin-top: 50px;
}

/* 포트폴리오 섹션 - 탭 박스 버튼 */
.portfolio>.content-box>.head>button+button {
    margin-left: 30px;
}

.portfolio>.content-box>.head>button>h2 {
    font-weight: 500;
}

.portfolio>.content-box>.head>button.active>h2 {
    color: #FFB000;
}

/* 포트폴리오 섹션 - 탭 박스 */
.portfolio>.content-box>.body {
    margin-top: 90px;
    overflow-x: hidden;
}

.portfolio>.content-box>.body>ul {
    margin-right: -3.5vw;
    flex-wrap: wrap;
}

.portfolio>.content-box>.body>ul>li {
    position: relative;
    display: none;
    width: calc(100% / 3);
    padding-right: 3.5vw;
    margin-bottom: 3.5vw;
    box-sizing: border-box;
}

.portfolio>.content-box>.body>ul>li.active {
    display: block;
}

/* 포트폴리오 섹션 - 탭 박스 아이템 */
.portfolio>.content-box>.body>ul>li>.frame>img {
    display: block;
    filter: drop-shadow(5px 5px 7px #E6E6E6);
}

.portfolio>.content-box>.body>ul>li>.item-content {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 3.5vw);
    height: 100%;
}

/* 포트폴리오 섹션 - 이미지 박스 */
.portfolio>.content-box>.body>ul>li>.item-content>.item-img-box {
    position: relative;
    margin: 5px;
    background-color: #ffffff;
    overflow: hidden;
    cursor: pointer;
}

.portfolio>.content-box>.body>ul>li>.item-content>.item-img-box::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.portfolio>.content-box>.body>ul>li>.item-content>.item-img-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(45, 41, 36, 0);
    visibility: hidden;
    transition: background 1s, visibility 1s;
}

.portfolio>.content-box>.body>ul>li>.item-content:hover>.item-img-box::after {
    visibility: visible;
    background-color: rgba(45, 41, 36, 0.5);
}

.portfolio>.content-box>.body>ul>li>.item-content>.item-img-box>span {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    color: #fff;
    font-size: 2.2rem;
    line-height: 2.2rem;
    font-weight: 600;
    visibility: hidden;
    transform: translate(-50%, -50%);
    transition: opacity 1s, visibility 1s;
    z-index: 10;
}

.portfolio>.content-box>.body>ul>li>.item-content:hover>.item-img-box>span {
    visibility: visible;
    opacity: 1;
}

.portfolio>.content-box>.body>ul>li>.item-content>.item-img-box>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}


.portfolio>.content-box>.body>ul>li>.item-content>div+div {
    padding-left: 8.8%;
    padding-top: 3.3%;
}

/* 포트폴리오 섹션 - 태그 아이콘 */
.portfolio>.content-box>.body>ul>li>.item-content>.tag {
    display: flex;
    height: 5%;
}
.portfolio>.content-box>.body>ul>li>.item-content>.tag>.tag-icon img {
    display: block;
    height: 100%;
}

/* 포트폴리오 섹션 - 포트폴리오 */
.portfolio>.content-box>.body>ul>li>.item-content>.txt span {
    display: inline-block;
    vertical-align: bottom;
    letter-spacing: 1px;
}

.portfolio>.content-box>.body>ul>li>.item-content>.txt span:first-child {
    font-size: calc(2rem + 0.15625vw);
    line-height: calc(2rem + 0.15625vw);
    font-weight: 900;
    color: #ffffff;
}

.portfolio>.content-box>.body>ul>li>.item-content>.txt span:last-child {
    font-weight: 700;
    color: #ffffff;
}


/* design 섹션 */
.design {
    margin-top: 10.4167vw;
    padding-top: 10.4167vw;
    margin-left: auto;
    max-width: calc(((100vw - 1500px) / 2) + 1500px);
}

/* design 섹션 - 타이틀 */
.design .title {
    padding-right: 10vw;
}

.design .title>span::before {
    content: "";
    position: absolute;
    bottom: -30px;
    right: 18%;
    width: 100vw;
    height: 3px;
    background-color: #FFB000;
}

/* design 섹션 - 슬라이드 */
.design .swiper-container {
    flex: 1 0 0;
}

.design .swiper-container .swiper-slide {
    position: relative;
}

/* design 섹션 - 슬라이드 이미지 박스*/
.design .swiper-container .swiper-slide>.img {
    width: 100%;
    max-width: 450px;
    border-right: 10px solid #2D2924;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    box-sizing: border-box;
    transition: background 3s;
}

.design .swiper-container .swiper-slide>.img:hover {
    background-position: 0 100%;
}


.design .swiper-container .swiper-slide>.img::before {
    content: "";
    display: block;
    padding-bottom: 133.33333333333333%;
}

.design .swiper-container .swiper-slide:nth-child(1)>.img {
    background-image: url("https://nixpluvia.github.io/img1/pf/portfolio/design-kyobo.png");
}

.design .swiper-container .swiper-slide:nth-child(2)>.img {
    background-image: url("https://nixpluvia.github.io/img1/pf/portfolio/portfolio-cocacola.png");
}

/* design 섹션 - 슬라이드 텍스트 박스*/
.design .swiper-container .swiper-slide>.txt {
    position: relative;
    padding-top: 4.946%;
    padding-left: 5.771%;
    background-color: #ffffff;
}

.design .swiper-container .swiper-slide>.txt>.title {
    margin-bottom: 25px;
    font-weight: 900;
    letter-spacing: 1px;
}

.design .swiper-container .swiper-slide>.txt>.tag {
    margin-bottom: 30px;
}

.design .swiper-container .swiper-slide>.txt>.tag>.tag-icon {
    margin-right: 10px;
}

.design .swiper-container .swiper-slide>.txt>.tag>.tag-icon>img {
    display: block;
    height: 24px;
}

.design .swiper-container .swiper-slide>.txt>.txt-body {
    width: 70%;
}

.design .swiper-container .swiper-slide>.txt>.txt-body>p {
    font-size: calc(1.1rem + 0.15625vw);
    font-weight: 400;
    letter-spacing: 0.5px;
}

.design .swiper-container .swiper-slide>.txt>.source {
    position: absolute;
    bottom: 10%;
}

.design .swiper-container .swiper-slide>.txt>.source>span {
    font-weight: 500;
}

/* design 섹션 - 슬라이드 배경 이미지 */
.design .swiper-container .swiper-slide>.bg-img {
    position: absolute;
    bottom: 5%;
    right: 0;
    width: 144px;
    background-image: url("https://nixpluvia.github.io/img1/pf/portfolio/puzzle_bg_2.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
}

.design .swiper-container .swiper-slide>.bg-img::before {
    content: "";
    display: block;
    padding-bottom: 166.66666666666667%;
}






/* contact 섹션 */
.contact {
    margin-top: 10.4167vw;
    padding-top: 10.4167vw;
}

/* contact 타이틀 라인 */
.contact>h2>span::before {
    content: "";
    position: absolute;
    top: 0;
    left: -70px;
    width: 30px;
    height: 100%;
    background-color: #FFB000;
}

/* contact 섹션 - 컨텐츠 박스 */
.contact>.content {
    margin-top: 150px;
    margin-bottom: 100px;
}

/* contact 섹션 - 메일 전송 박스*/
.contact>.content>.send-mail {
    width: 50%;
    max-width: 750px;
}

.contact>.content>.send-mail>form>div:nth-of-type(2),
.contact>.content>.send-mail>form>div:nth-of-type(3) {
    margin-top: 20px;
}

.contact>.content>.send-mail>form>.type1 {
    font-size: 1.4rem;
    font-weight: 400;
    border: 1px solid #2D2924;
    background-color: #F7F7F7;
    color: #2D2924;
}

.contact>.content>.send-mail>form>.type1>input::placeholder {
    line-height: 1.4rem;
}

.contact>.content>.send-mail>form>.type1>input::placeholder,
.contact>.content>.send-mail>form>.type1>textarea::placeholder {
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 300;
    color: #2D2924;
}

.contact>.content>.send-mail>form>.type1>input {
    width: 100%;
    padding: 8px 0 8px 30px;
    box-sizing: border-box;
}

.contact>.content>.send-mail>form>.type1>textarea {
    display: block;
    width: 100%;
    height: 220px;
    padding-left: 30px;
    padding-top: 10px;
    box-sizing: border-box;
}

.contact>.content>.send-mail>form>.btn-send {
    margin-top: 30px;
}

.contact>.content>.send-mail>form>.btn-send>input {
    padding: 20px 30px;
    font-size: 1.4rem;
    font-weight: 500;
    color: #ffffff;
    background-color: #2D2924;
}




/* contact 섹션 - info box */
.contact>.content>.info-box {
    flex: 1 0 0;
    padding-bottom: 87px;
    box-sizing: border-box;
}

.contact>.content>.info-box>.info-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 20%;
    box-sizing: border-box;
}

/* contact 섹션 - info 타이틀 */
.contact>.content>.info-box .sub-title .txt-wrap> :not(:last-child) {
    margin-bottom: 25px;
}

.contact>.content>.info-box .sub-title .txt-wrap>div {
    width: 100%;
}

.contact>.content>.info-box .sub-title .txt-wrap>div>svg {
    width: 25px;
}

.contact>.content>.info-box .sub-title .txt-wrap>h2 {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 400;
    word-break: keep-all;
}

/* contact 섹션 - 개인 정보 */
.contact .content .info-box .myself-info {
    margin-top: 25px;
}

.contact .content .info-box .myself-info>ul>li+li {
    margin-top: 20px;
}

.contact .content .info-box .myself-info>ul>li>span {
    display: inline-block;
    font-size: 1.4rem;
    line-height: 1.4rem;
    vertical-align: bottom;
}

.contact .content .info-box .myself-info>ul>li>span:first-child {
    width: 65px;
    font-weight: 700;
}

.contact .content .info-box .myself-info>ul>li>span:last-child {
    font-weight: 300;
}


/* contact 섹션 - sns icon bar */
.contact .content .sns-bar {
    margin-top: auto;
}

.contact .content .sns-bar>ul>li {
    height: 35px;
}

.contact .content .sns-bar>ul>li+li {
    margin-left: 20px;
}

.contact .content .sns-bar>ul>li>a {
    display: block;
    height: 100%;
}

.contact .content .sns-bar>ul>li>a>svg {
    height: 100%;
}



footer {
    position: relative;
}

footer>h2 {
    position: absolute;
    top: -114px;
    right: 0;
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 300;
    color: #2D2924;
}




/* 포트폴리오 팝업 */
.portfolio-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    background-color: rgba(45, 41, 36, 0.3);
    z-index: 200;
}

.portfolio-popup.active {
    display: block;
    visibility: visible;
}

.popup-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
}

.popup-box>.popup-img {
    max-width: 450px;
    flex: 1.5 0 0;
}

.popup-box>.popup-img>a {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    transition: background-position 3s;
}

.popup-box>.popup-img>a:hover {
    background-position: 0 100%;
}

.popup-box>.popup-img>a::before {
    content: "";
    display: block;
    padding-bottom: 177.77777777777777%;
}

.popup-box>.txt-box {
    flex: 2 0 0;
    padding-top: 5%;
    padding-left: 5%;
    box-sizing: border-box;
}

.popup-box>.txt-box>ul,
.popup-box>.txt-box>ul>li {
    width: 100%;
    height: 100%;
}

.popup-box>.txt-box>ul>li {
    position: relative;
    display: none;
}

.popup-box>.txt-box>ul>li.active {
    display: block;
}

.popup-box>.txt-box>ul>li::after {
    content: "본 사이트는 상업적 목적이 아닌 개인 포트폴리오 사이트로 제작되었습니다.";
    position: absolute;
    right: 5%;
    bottom: 5%;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #A0A0A0;
}

.popup-box>.txt-box>ul>li>.title>span:first-child {
    font-size: 3.2rem;
    line-height: 3.2rem;
    font-weight: 900;
    color: #2D2924;
}

.popup-box>.txt-box>ul>li>.title>span:last-child {
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 700;
    color: #2D2924;
}

.popup-box>.txt-box>ul>li>.tag {
    margin-top: 10px;
}

.popup-box>.txt-box>ul>li>.tag>.tag-icon>img {
    display: block;
    height: 24px;
}

.popup-box>.txt-box>ul>li>.txt-body {
    margin-top: 30px;
}

.popup-box>.txt-box>ul>li>.txt-body>p {
    font-size: 1.6rem;
    font-weight: 500;
    color: #2D2924;
}

.popup-box>.txt-box>ul>li>.source {
    margin-top: 100px;
}

.popup-box>.txt-box>ul>li>.source>div>span {
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #2D2924;
}





/* Desktop device */
@media (max-width: 1700px) {
    .con {
        padding-left: 5.8vw;
        padding-right: 5.8vw;
    }
    .design {
        padding-left: 5.8vw;
    }
}





@media (max-width: 1440px) {
    /* 소개 페이지 여백 */
    .about>.content-box>.content {
        padding-left: 3vw;
    }
    /* 포트폴리오 아이템 갯수 */
    .portfolio>.content-box>.body>ul>li {
        width: calc(100% / 2);
    }
    /* 디자인 페이지 */
    .design {
        flex-wrap: wrap;
    }
    .design .title {
        width: 100%;
        padding-right: 0;
        margin-bottom: 7vw;
    }
    .design .swiper-container {
        width: 100%;
        flex: 0 0 auto;
    }
}
@media (max-width: 1129px) {
    .about>.content-box>.content {
        width: 100%;
        padding-left: 0;
    }
    .about>.content-box>.content>.head{
        justify-content: center;
    }
    .about>.content-box>.content>.body>.profile-tab>h3{
        text-align: center;
    }
    .about>.content-box>.content>.body>.profile-tab>ul,
    .about>.content-box>.content>.body>.skill-tab{
        margin-left: auto;
        margin-right: auto;
        max-width: 397px;
    }
    .about .body>.skill-tab>.skills-box {
        flex-wrap: wrap;
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1440px) {
    .con {
        padding-left: calc( 72px + 5.8vw );
    }
    .design {
        padding-left: calc( 72px + 5.8vw );
    }
}






@media (max-width: 1024px) {
    .portfolio>.content-box>.body>ul>li>.item-content>.txt span:first-child {
        font-size: calc(1.4rem + 0.15625vw);
        line-height: calc(1.4rem + 0.15625vw);
    }
}





/* tablet device */
@media (max-width: 768px) {
    .side-bar {
        display: none;
    }
    /* 폰트 사이즈 */
    .fs-title1 {
        font-size: calc(36px + 2vw);
        line-height: calc(36px + 2vw);
    }
    .fs-title2 {
        font-size: calc(32.5px + 2vw);
        line-height: calc(32.5px + 2vw);
    }
    .portfolio>.content-box>.body>ul>li {
        width: 100%;
    }
    .portfolio>.content-box>.body>ul>li>.item-content>.txt span:first-child {
        font-size: calc(2rem + 0.15625vw);
        line-height: calc(2rem + 0.15625vw);
    }
}